
body {
    background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
    color: #1d1d1d;
}

.produtos {
    max-width: 900px;
    margin: 100px auto 0 auto;
}

.produto {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2rem rgba( 0, 0, 0, .1);
}

.produtos div + div {
    margin-top: 60px;
}

.produto_img {
    max-width: 400px;
    padding-right: 2rem;
}

.produtos p {
    color: #615b5b;
    font-size: 14px;
}

.produtos h2 {
    color: #1d1d1d;
    font-size: 24px;
}

.avaliacoes-clientes {
    color: #1d1d1d;
}


//=========================== MODAL ===================================//


.modal::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100;
    color: #1d1d1d;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba( 0, 0, 0, .2)
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 80px;
    background: rgba(0, 0, 0, .7);
    width: 100%;
}

.modal-img img {
    max-width: 400px;
    border-radius: 2rem;
}

.container-modal {
    margin: 00 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: rgba(255, 255, 255, 10);
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba( 0, 0, 0, .7)

}

.btn-fechar-modal {
    position: absolute;
    top: 70px;
    left: 1200px;
    z-index: 2;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background: rgba(0,0,0, .7);
}