<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>MouseStore</title>
</head>
<body>


    <div id="app">
        <section class="modal" v-if="produto">

            <div class="container-modal">
                <button class="btn-fechar-modal" @click="produto = false">fechar</button>
                <div class="modal-img">
                    <img :src="produto.img" alt="">
                </div>
                <div>
                    <ul class="avaliacoes-clientes">
                        <li v-for="avaliacao in produto.avaliacoes">
                         <h2>{{avaliacao.nome}}</h2>
                         <h6>{{avaliacao.estrelas}}</h6>
                         <p>{{avaliacao.descricao}}</p>
                        </li>
                    </ul>
                </div>

            </div>

        </section>

        <section class="produtos">
            <div v-for="produto in produtos" @click="fetchProduto(produto.id)" class="produto">
                <img :src="produto.img" :key="produto.id" :alt="produto.nome" class="produto_img">
                <div class="produto-info">
                   <p><span>{{produto.preco | filtroPreco}}</span></p>
                   <h2><span>{{produto.id}}</span></h2> 
                </div>
            </div>
        </section>
        
    </div>
    <script src="jS/JsMain.js"></script>
</body>
</html>